<app-nav-layout>
  <app-grid-layout class="topics-list">
    <article class="topic-card" *ngFor="let topic of allTopics">
      <h2>{{ topic.name }}</h2>

      <p>{{ topic.description }}</p>

      <button
        mat-raised-button
        color="primary"
        (click)="subscribeToTopic(topic)"
        *ngIf="!hasSubscribed(topic)"
      >
        S'abonner
      </button>

      <button
        mat-raised-button
        color="warn"
        *ngIf="hasSubscribed(topic)"
        (click)="unsubscribeFromTopic(topic)"
      >
        Se désabonner
      </button>
    </article>
  </app-grid-layout>
</app-nav-layout>
