<app-nav-layout>
  <h1>Profil utilisateur</h1>

  <div class="profile-update-form">
    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input matInput type="text" placeholder="Username" value="" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>email</mat-label>
      <input matInput type="email" placeholder="Your email" value="" />
    </mat-form-field>

    <button mat-raised-button color="primary">Sauvegarder</button>

    <button mat-button color="warn" routerLink="/">Se déconnecter</button>
  </div>
  <hr />
  <h2>Abonnements</h2>
  <app-grid-layout *ngIf="topics" class="topics-list">
    <app-topic-card
      *ngFor="let topic of topics"
      [name]="topic.name"
      [description]="topic.description"
      [hasSuscribed]="true"
    ></app-topic-card>
  </app-grid-layout>
</app-nav-layout>
