<app-nav-layout>
  <div class="posts-top-layout">
    <button mat-raised-button color="primary" routerLink="/create-post">
      Créer un article
    </button>

    <button mat-button [matMenuTriggerFor]="menu">
      <p class="sort-label">Trier par <span class="sort-icon">sort</span></p>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sortPosts('date')">Date</button>
      <button mat-menu-item (click)="sortPosts('title')">Titre</button>
      <button mat-menu-item (click)="sortPosts('author')">Auteur</button>
    </mat-menu>
  </div>

  <app-grid-layout class="posts-feed">
    <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
  </app-grid-layout>
</app-nav-layout>
