<app-auth-layout title="Se connecter">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="email"
        value=""
        formControlName="email"
      />

      @if (loginForm.get('email')?.errors?.['email']) {
      <mat-error
        >Invalid email format. Please enter a valid email (eg:
        <i>mondededev&#64;mail.com</i>).</mat-error
      >
      }
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter your password"
        value=""
        formControlName="password"
      />

      @if (loginForm.get('password')?.errors?.['pattern']) {
      <mat-error>Password must be at least 8 characters long.</mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      type="submit"
    >
      Se connecter
    </button>
  </form>
</app-auth-layout>
