<app-auth-layout title="S'inscrire">
  <form class="register-form">
    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input matInput type="text" placeholder="Enter your username" value="" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="Enter your email" value="" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter your password"
        value=""
      />
    </mat-form-field>

    <button mat-raised-button color="primary" routerLink="/posts">
      S'inscrire
    </button>
  </form>
</app-auth-layout>
