<app-auth-layout title="S'inscrire">
  <form
    class="register-form"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter your username"
        value=""
        formControlName="username"
      />

      @if (registerForm.get('username')?.errors?.['minlength']) {
      <mat-error
        >Username must be at least
        {{ registerForm.get('username')?.errors?.['minlength']?.requiredLength }}
        characters long.</mat-error
      >
      }
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter your email"
        value=""
        formControlName="email"
      />

      @if (registerForm.get('email')?.errors?.['email']) {
      <mat-error
        >Invalid email format. Please enter a valid email (eg:
        <i>mondededev&#64;mail.com</i>).</mat-error
      >
      }
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter your password"
        formControlName="password"
        value=""
      />

      @if (registerForm.get('password')?.errors?.['pattern']) {
      <mat-error
        >Password must be at least
        {{ registerForm.get('password')?.errors?.['pattern']?.requiredLength }}
        characters long.</mat-error
      >
      }
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Confirm your password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Confirm your password"
        formControlName="passwordConfirm"
        value=""
      />
      @if (registerForm.errors?.['notMatching'] &&
      registerForm.get('passwordConfirm')?.touched) {
      <mat-error>Passwords do not match</mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="registerForm.invalid"
      type="submit"
    >
      S'inscrire
    </button>
  </form>
</app-auth-layout>
