<app-nav-layout *ngIf="post">
  <div class="post-title">
    <app-navigate-back-arrow></app-navigate-back-arrow>
    <h1>{{ post.title }}</h1>
  </div>
  <section class="post">
    <div class="post-info">
      <time>{{ post.createdAt }}</time>
      <cite>{{ post.author }}</cite>
      <div class="topics">
        <span *ngFor="let topic of post.topics">{{ topic }}</span>
      </div>
    </div>
    <p>{{ post.content }}</p>
  </section>

  <hr />

  <section class="comments">
    <h2>Commentaires</h2>

    <form class="comment-form">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>

      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a open in new tab icon"
      >
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </section>
</app-nav-layout>
