<nav class="desktop-nav-container">
  <div class="desktop-nav">
    <a routerLink="/posts">
      <img
        class="logo"
        src="/assets/logo_p6.png"
        alt="logo"
        aria-labelledby="Monde de dev"
      />
    </a>

    <ul>
      <li>
        <a routerLink="/posts" class="navbar-link" routerLinkActive="active"
          >Articles</a
        >
      </li>
      <li>
        <a routerLink="/topics" class="navbar-link" routerLinkActive="active"
          >Thèmes</a
        >
      </li>
      <li>
        <img
          src="/assets/raw_avatar.png"
          alt="avatar"
          routerLink="/profile"
          routerLinkActive="active-profile"
          class="avatar"
        />
      </li>
    </ul>

    <span class="toggle-icon" (click)="toggleMenu()">menu</span>
  </div>
</nav>

<!-- mobile menu -->
<aside [ngClass]="{ active: isMenuOpen }" (click)="toggleMenu()">
  <nav class="mobile-nav" [ngClass]="{ active: isMenuOpen }">
    <ul>
      <li>
        <a routerLink="/posts" class="navbar-link" routerLinkActive="active"
          >Articles</a
        >
      </li>
      <li>
        <a routerLink="/topics" class="navbar-link" routerLinkActive="active"
          >Thèmes</a
        >
      </li>
    </ul>
    <img
      src="/assets/raw_avatar.png"
      alt="avatar"
      routerLink="/profile"
      routerLinkActive="active-profile"
      class="avatar"
    />
  </nav>
</aside>
